.btnGHL {
    width: 50px;
    height: 50px;
    border-radius: 15px !important;
    font-size: 24px;
}

.circle-number1 {
    /*background-color: #e24700 !important;*/
    width: 50px !important;
    height: 50px !important;
    border-radius: 100px !important;
    font-size: 20px;
}

	.circle-number1 span {
		color: #fff;
	}

.circle-number2 {
    /*background-color: #2a07d9 !important;*/
    width: 50px !important;
    height: 50px !important;
    border-radius: 100px !important;
    font-size: 20px !important;
}

	.circle-number2 span {
		color: #fff;
	}

.circle-number3 {
    /*background-color: #e20800 !important;*/
    width: 50px !important;
    height: 50px !important;
    border-radius: 100px !important;
    font-size: 20px !important;
}

	.circle-number3 span {
		color: #fff;
	}

.circle-number4 {
    /*background-color: #26b600 !important;*/
    width: 50px !important;
    height: 50px !important;
    border-radius: 100px !important;
    font-size: 20px !important;
}

	.circle-number4 span {
		color: #fff;
	}

.circle-number5 {
    /*background-color: #949d93 !important;*/
    width: 50px !important;
    height: 50px !important;
    border-radius: 100px !important;
    font-size: 20px !important;
}

	.circle-number5 span {
		color: #fff;
	}

.circle-number6 {
    /*background-color: #e2086f !important;*/
    width: 50px !important;
    height: 50px !important;
    border-radius: 100px !important;
    font-size: 20px !important;
}

	.circle-number6 span {
		color: #fff;
	}

.circle-number7 {
    /*background-color: #00c7e2 !important;*/
    width: 50px !important;
    height: 50px !important;
    border-radius: 100px !important;
    font-size: 20px !important;
}

	.circle-number7 span {
		color: #fff;
	}

.circle-number8 {
    /*background-color: #e2d400 !important;*/
    width: 50px !important;
    height: 50px !important;
    border-radius: 100px !important;
    font-size: 20px !important;
}

	.circle-number8 span {
		color: #fff;
	}

.circle-number9 {
    /*background-color: #8508e2 !important;*/
    width: 50px !important;
    height: 50px !important;
    border-radius: 100px !important;
    font-size: 20px !important;
}

	.circle-number9 span {
		color: #fff;
	}

.circle-number10 {
    /*background-color: #01ebab !important;*/
    width: 50px !important;
    height: 50px !important;
    border-radius: 100px !important;
    font-size: 20px !important;
}

	.circle-number10 span {
		color: #fff;
	}
