<div>
    <div ng-if="dataSource.pageStatus == 'searchView'">
        <div class=" col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ 'SearchCondition' | translate }}</h3>
                    </div>
                    <div class="panel-body">
                        <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
                            <label class="control-label" for="Customer:">{{ 'Adjustment_UserName' | translate }}:</label>
                            <input type="text" placeholder="" class="form-control input-md"
                                   ng-model="dataSource.searchCondition.UserName">
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-12 ">
                            <div class="btn_area">
                                <ul >
                                    <li><input type="button" class="btn btn-primary btn-block" value="{{ 'Search' | translate }}" ng-click="search()" /></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
        <br>

        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>{{ 'Adjustment_UserName' | translate }}</th>
                                <th>{{ 'Adjustment_Name' | translate }}</th>
                                <th>{{ 'Adjustment_CurrentBalance' | translate }}</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="member in dataSource.listData">
                                <td>{{member.UserName | userName}}</td>
                                <td>{{member.FullName}}</td>
                                <td>{{member.TotalBalance | currency : "" : 2}}</td>
                                <td>
                                    <input type="button" class="btn btn-info" value="{{ 'Adjustment_AdjustDeposit' | translate }}" ng-click="showDeposit(member,'depositDialog')" />
                                    <input type="button" class="btn btn-danger" value="{{ 'Adjustment_AdjustWithdrawal' | translate }}" ng-click="showDeposit(member,'withdrawalDialog')" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <pagination options="dataSource.PagerObj" page-changed="PageChanged(dataSource.PagerObj.CurrentPage)">
            </pagination>
        </div>
    </div>

    <!--Adjust Deposit視窗-->
    <button id="ShowDepositDialog" class="btn btn-primary btn-block " data-toggle="modal" data-target="#DepositDialog"
            style="display:none"></button>
    <div class="modal fade" id="DepositDialog" tabindex="-1" role="dialog" aria-labelledby="DepositDialogTitle"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        {{dataSource.modalMsg.title | translate }}
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- <div class="list_style row">
                        <ul>
                            <li class="col-md-12 col-sm-12 col-xs-12">
                                <label class="col-md-4 col-sm-4 col-xs-6">{{ 'Adjustment_UserName' | translate }}:</label>
                                <div class="col-md-8 col-sm-8 col-xs-6">
                                    <span>{{dataSource.memberInfo.UserName | userName}}</span>
                                </div>
                            </li>
                            <li class="col-md-12 col-sm-12 col-xs-12">
                                <label class="col-md-4 col-sm-4 col-xs-6">{{ 'Adjustment_AccountName' | translate }}:</label>
                                <div class="col-md-8 col-sm-8 col-xs-6">
                                    <span>{{dataSource.memberInfo.FullName}}</span>
                                </div>
                            </li>
                            <li class="col-md-12 col-sm-12 col-xs-12">
                                <label class="col-md-4 col-sm-4 col-xs-6">{{ 'Adjustment_AccountBalance' | translate }}:</label>
                                <div class="col-md-8 col-sm-8 col-xs-6">
                                    <span>{{dataSource.memberInfo.TotalBalance | currency : "" : 2}}</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <hr /> -->
                    <div>
                        <div class="col-xs-12">
                            <label class="control-label">{{ 'Adjustment_UserName' | translate }}:</label>
                            <div class="form-control" disabled>
                                <span>{{dataSource.memberInfo.UserName | userName}}</span>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <label class="control-label">{{ 'Adjustment_AccountBalance' | translate }}:</label>
                            <div class="form-control" disabled>
                                <span>{{dataSource.memberInfo.TotalBalance | currency : "" : 2}}</span>
                            </div>
                        </div>
                        <div class="col-xs-12" ng-if="dataSource.dialogStatus == 'depositDialog'">
                            <label class="control-label">{{ 'Adjustment_Bank' | translate }}:</label>
                            <select name="cBank" class="form-control"
                                    ng-model="dataSource.transactionData.cBank" required
                                    ng-options="cBank.label for cBank in dataSource.cBanks">
                            </select>
                        </div>
                        <div class="col-xs-12" ng-if="dataSource.dialogStatus == 'withdrawalDialog'">
                            <label class="control-label">{{ 'Adjustment_Bank' | translate }}:</label>
                            <select name="mBank" class="form-control"
                                    ng-model="dataSource.transactionData.mBank" required
                                    ng-options="(mBank.BankCode+' '+ mBank.BankName+' '+ mBank.BankNumber) for mBank in dataSource.mBanks">
                            </select>
                        </div>
                        <div class="col-xs-12">
                            <label class="control-label" ng-if="dataSource.dialogStatus == 'depositDialog'">{{ 'Adjustment_DepositAmount' | translate }}:</label>
                            <label class="control-label" ng-if="dataSource.dialogStatus == 'withdrawalDialog'">{{ 'Adjustment_WithdrawalAmount' | translate }}:</label>
                            <input type="text" placeholder="" class="form-control input-md"
                                   ng-model="dataSource.transactionData.Amount">
                        </div>
                        <!-- <div class="col-xs-12">
                            <label class="control-label">{{ 'Adjustment_RefCode' | translate }}:</label>
                            <input type="text" placeholder="" class="form-control input-md"
                                   ng-model="dataSource.transactionData.RefCode">
                        </div> -->
                        <div class="col-xs-12">
                            <label class="control-label" ng-if="dataSource.dialogStatus == 'depositDialog'">{{ 'Adjustment_DepositReason' | translate }}:</label>
                            <label class="control-label" ng-if="dataSource.dialogStatus == 'withdrawalDialog'">{{ 'Adjustment_WithdrawalReason' | translate }}:</label>
                            <select class="form-control input-md" ng-model="dataSource.transactionData.Remark">
                                <option value="">Choose Reason</option>
                                <option value="Promotion">Promotion</option>
                                <option value="Adjustment">Adjustment</option>
                                <option value="Missing Credit">Missing Credit</option>
                            </select>
                        </div>
                        <!-- <div class="col-xs-6" ng-if="dataSource.dialogStatus == 'depositDialog'">
                            <label class="control-label">{{ 'Adjustment_Promotion' | translate }}:</label>
                            <select class="form-control input-md" ng-model="dataSource.transactionData.PromotionID"
                                    ng-options="option.ID as option.PromotionName for option in dataSource.promotions">
                            </select>
                        </div> -->
                    </div>
                </div>
                <div class="modal-footer">
                    <!--<button type="button" class="btn rectangle-btn" data-dismiss="modal" ng-click="modalMsgConfirmEvent(false)">Cancel</button>-->
                    <button type="button" class="btn rectangle-btn" data-dismiss="modal"
                            ng-click="confirmDeposit(dataSource.transactionData)">
                        {{ 'Confirm' | translate }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>