
<div ng-if="dataSource.pageStatus == 'searchView'">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{ 'SearchCondition' | translate }}</h3>
        </div>
        <div class="panel-body">
            <div class="col-md-4 col-sm-12 col-xs-12">
                <label>{{ 'CashRebateSetting_Name' | translate }}:</label>
                <input type="text" placeholder="" class="form-control input-md" ng-model="dataSource.searchCondition.Name">
            </div>
            <div class="col-md-8 col-sm-12 col-xs-12 ">
                <div class="btn_area">
                    <ul class="text-left">
                        <li><input type="button" class="btn btn-primary btn-block" value="{{ 'Add' | translate }}" ng-click="showAdd()" /></li>
                        <li><input type="button" class="btn btn-default btn-block" value="{{ 'Clear' | translate }}" ng-click="clear()" /></li>
                        <li><input type="button" class="btn btn-primary btn-block" value="{{ 'Search' | translate }}" ng-click="search()" /></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="css_table">
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>{{ 'CashRebateSetting_Name' | translate }}</th>
                        <th>{{ 'DateS' | translate }}</th>
                        <th>{{ 'DateE' | translate }}</th>
                        <th>{{ 'CashRebateSetting_Status' | translate }}</th>
                        <th>{{ 'CashRebateSetting_UpdateBy' | translate }}</th>
                        <th>{{ 'CashRebateSetting_UpdateDate' | translate }}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="cashRebate in dataSource.listData">
                        <td>{{cashRebate.Name}}</td>
                        <td>{{cashRebate.DateS | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                        <td>{{cashRebate.DateE | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                        <td>{{cashRebate.Status ? 'Active' : ''}}</td>
                        <td>{{cashRebate.UpdateName}}</td>
                        <td>{{cashRebate.UpdateDate | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                        <td>
                            <input type="button" class="btn btn-success" value="{{ 'Edit' | translate }}" ng-click="showEdit(cashRebate)">
                            <input type="button" class="btn btn-danger" value="{{ 'Del' | translate }}" ng-click="delete(cashRebate)">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div style="margin:0px auto;">
            <pagination options="dataSource.PagerObj" page-changed="PageChanged(dataSource.PagerObj.CurrentPage)">
            </pagination>
        </div>
    </div>
</div>
<div ng-if="dataSource.pageStatus == 'addView' || dataSource.pageStatus == 'editView'">
    <!-- left column -->
    <!-- <div class="col-md-3">
            <div class="text-center">
                <img src="//placehold.it/100" class="avatar img-circle" alt="avatar">
                <h6>Upload a different photo...</h6>

                <input type="file" class="form-control">
            </div>
        </div> -->
    <!-- edit form column -->
    <div class="col-md-12 col-sm-12 col-xs-12 personal-info">
        <div class="row">
            <!-- <div class="alert alert-info alert-dismissable">
                      <a class="panel-close close" data-dismiss="alert">×</a>
                      <i class="fa fa-coffee"></i>
                      This is an <strong>.alert</strong>. Use this to show important messages to the user.
                  </div> -->
            <h3>{{ 'CashRebateSetting_CashRebate' | translate }}</h3>
            <hr>
            <form class="form-horizontal" role="form">
                <div class="list_area">
                    <div class="list_style ">
                        <ul>
                            <li class="col-md-3 col-xs-6">
                                <label>{{ 'CashRebateSetting_Name' | translate }}:</label>
                                <input class="form-control" type="text" ng-model="dataSource.cashRebate.Name">
                            </li>
                            <li class="col-md-3 col-xs-6">
                                <label>{{ 'DateS' | translate }}:</label>
                                <input class="form-control" type="date" ng-model="dataSource.cashRebate.DateS">
                            </li>
                            <li class="col-md-3 col-xs-6">
                                <label>{{ 'DateE' | translate }}:</label>
                                <input class="form-control" type="date" ng-model="dataSource.cashRebate.DateE">
                            </li>
                            <li class="col-md-3 col-xs-6">
                                <label>{{ 'Active' | translate }}:</label>
                                <input class="form-control" type="checkbox" ng-model="dataSource.cashRebate.Status">
                            </li>

                            <!--<li class="col-md-4 col-xs-12 mt-10">
        <label class="control-label text-theme ">Daily</label>
        <hr class="mb-10">
        <div class="col-xs-12 p-0">
            <div class="col-xs-6">
                <label class="control-label">{{ 'CashRebateSetting_MinCR' | translate }}:</label>
                <input name="DMinLoss" class="form-control" type="text" ng-model="dataSource.cashRebate.MinLoss">
            </div>
            <div class="col-xs-6">
                <label class="control-label">{{ 'CashRebateSetting_MaxCR' | translate }}:</label>
                <input name="DMaxLoss" class="form-control" type="text" ng-model="dataSource.cashRebate.MaxLoss">
            </div>
        </div>
    </li>
    <li class="col-md-4 col-xs-12 mt-10">
        <label class="control-label text-theme">Weekly</label>
        <hr class="mb-10">
        <div class="col-xs-12 p-0">
            <div class="col-xs-6">
                <label class="control-label">{{ 'CashRebateSetting_MinCR' | translate }}:</label>
                <input name="WMinLoss" class="form-control" type="text" ng-model="dataSource.cashRebate.Weekly_MinLoss">
            </div>
            <div class="col-xs-6">
                <label class="control-label">{{ 'CashRebateSetting_MaxCR' | translate }}:</label>
                <input name="WMaxLoss" class="form-control" type="text" ng-model="dataSource.cashRebate.Weekly_MaxLoss">
            </div>
        </div>
    </li>
    <li class="col-md-4 col-xs-12 mt-10">
        <label class="control-label text-theme">Monthly</label>
        <hr class="mb-10">
        <div class="col-xs-12 p-0 ">
            <div class="col-xs-6">
                <label class="control-label">{{ 'CashRebateSetting_MinCR' | translate }}:</label>
                <input name="MMinLoss" class="form-control" type="text" ng-model="dataSource.cashRebate.Monthly_MinLoss">
            </div>
            <div class="col-xs-6">
                <label class="control-label">{{ 'CashRebateSetting_MaxCR' | translate }}:</label>
                <input name="MMaxLoss" class="form-control" type="text" ng-model="dataSource.cashRebate.Monthly_MaxLoss">
            </div>
        </div>
    </li>-->
                            <!--<li class="col-md-6">
        <label>Status:</label>
        <input class="form-control" type="checkbox" ng-init="dataSource.cashRebate.Status = true"
               ng-model="dataSource.cashRebate.Status">
    </li>-->
                        </ul>
                    </div>
                </div>
            </form>
            <div class="clearfix"></div>
            <form class="form-horizontal">
                <h4>{{ 'CashRebateSetting_Details' | translate }}</h4>
                <hr />
                <div class="list_area">
                    <div class="col-lg-6 col-md-8 col-xs-12 p-0">
                        <label class="col-xs-12">{{ 'CashRebateSetting_CashRebateType' | translate }}</label>
                        <div class="list_style ">
                            <ul>
                                <li class="col-md-4">
                                    <input type="radio" name="cbType" id="radio1" ng-value="1"
                                           ng-model="dataSource.cashRebate.SettingType">
                                    <label class="radio-inline" for="radio1">
                                        {{ 'CashRebateSetting_CountFromTotalLoseAllGames' | translate }}
                                    </label>
                                </li>
                                <li class="col-md-4">
                                    <input type="radio" name="cbType" id="radio2" ng-value="2"
                                           ng-model="dataSource.cashRebate.SettingType">
                                    <label class="radio-inline" for="radio2">
                                        {{ 'CashRebateSetting_CountFromTotalLosePerGamesType' | translate }}
                                    </label>
                                </li>
                                <li class="col-md-4">
                                    <input type="radio" name="cbType" id="radio3" ng-value="3"
                                           ng-model="dataSource.cashRebate.SettingType">
                                    <label class="radio-inline" for="radio3">
                                        {{ 'CashRebateSetting_CountFromTotalLoseOneGames' | translate }}
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div ng-if="dataSource.pageStatus != 'searchView' && dataSource.cashRebate.SettingType==1"
                          class="col-md-12">
                        <div class="col-xs-3">
                            <label>{{ 'CashRebateSetting_AllGames' | translate }}:</label>
                            <select class="form-control input-sm" name="live_casino_reg" ng-model="dataSource.allRebate">
                                <option ng-repeat="option in dataSource.rebateDropDown" ng-value="option">{{(option *100 ).toFixed(2)}}%</option>
                            </select>
                        </div>
                        <div class="col-xs-3">
                            <label class="control-label">{{ 'CashRebate_CashRebatePayType' | translate }}:</label>
                            <!--<input name="DPayType" class="form-control" type="text" ng-model="dataSource.cashRebate.PayType">-->
                            <select name="DPayType" class="form-control" ng-model="dataSource.cashRebate.PayType"
                                    ng-options="option.ID as option.ConfigName for option in dataSource.payTypeDropDown" required>
                            </select>
                        </div>
                        <div class="col-xs-3">
                            <label class="control-label">{{ 'CashRebateSetting_MinCR' | translate }}:</label>
                            <input name="DMinLoss" class="form-control" type="text" ng-model="dataSource.cashRebate.MinLoss" required>
                        </div>
                        <div class="col-xs-3">
                            <label class="control-label">{{ 'CashRebateSetting_MaxCR' | translate }}:</label>
                            <input name="DMaxLoss" class="form-control" type="text" ng-model="dataSource.cashRebate.MaxLoss" required>
                        </div>
                    </div>

                    <div ng-if="dataSource.pageStatus != 'searchView' && dataSource.cashRebate.SettingType==2">
                        <div>
                            <div class="list_style  select_title">
                                <ul>
                                    <li class="col-md-1"><label><b>{{ 'CashRebateSetting_NewMember' | translate }}</b></label></li>
                                    <li class="col-md-1"><label><b>{{ 'CashRebateSetting_RegMember' | translate }}</b></label></li>
                                    <li class="col-md-1"><label><b>{{ 'CashRebateSetting_SilverMember' | translate }}</b></label></li>
                                    <li class="col-md-1"><label><b>{{ 'CashRebateSetting_GoldMember' | translate }}</b></label></li>
                                    <li class="col-md-1"><label><b>{{ 'CashRebateSetting_PlatinumMember' | translate }}</b></label></li>
                                    <li class="col-md-1"><label><b>{{ 'CashRebateSetting_VIPMember' | translate }}</b></label></li>
                                    <li></li>
                                </ul>
                            </div>
                        </div>
                        <div ng-repeat="gameRoom in dataSource.gameRoomTypeListData">
                            <label class=" col-xs-12 ">{{gameRoom.GameName}}</label>
                            <div class="clearfix"></div>
                            <div class="list_style ">
                                <ul class="list_item">
                                    <li class="col-md-1 col-xs-6" data-title="NEW MEMBER">
                                        <select class="form-control input-sm" name="live_casino_reg" ng-model="gameRoom.rebates[0]">
                                            <option ng-repeat="option in dataSource.rebateDropDown" ng-value="option">{{(option *100 ).toFixed(2)}}%</option>
                                        </select>
                                    </li>
                                    <li class="col-md-1 col-xs-6" data-title="REG MEMBER">
                                        <select class="form-control input-sm" name="live_casino_reg" ng-model="gameRoom.rebates[1]">
                                            <option ng-repeat="option in dataSource.rebateDropDown" ng-value="option">{{(option *100 ).toFixed(2)}}%</option>
                                        </select>
                                    </li>
                                    <li class="col-md-1 col-xs-6" data-title="OLD MEMBER">
                                        <select class="form-control input-sm" name="live_casino_reg" ng-model="gameRoom.rebates[2]">
                                            <option ng-repeat="option in dataSource.rebateDropDown" ng-value="option">{{(option *100 ).toFixed(2)}}%</option>
                                        </select>
                                    </li>
                                    <li class="col-md-1 col-xs-6" data-title="SIVER MEMBER">
                                        <select class="form-control input-sm" name="live_casino_reg" ng-model="gameRoom.rebates[3]">
                                            <option ng-repeat="option in dataSource.rebateDropDown" ng-value="option">{{(option *100 ).toFixed(2)}}%</option>
                                        </select>
                                    </li>
                                    <li class="col-md-1 col-xs-6" data-title="GOLD MEMBER">
                                        <select class="form-control input-sm" name="live_casino_reg" ng-model="gameRoom.rebates[4]">
                                            <option ng-repeat="option in dataSource.rebateDropDown" ng-value="option">{{(option *100 ).toFixed(2)}}%</option>
                                        </select>
                                    </li>
                                    <li class="col-md-1 col-xs-6" data-title="PLATINUM MEMBER">
                                        <select class="form-control input-sm" name="live_casino_reg" ng-model="gameRoom.rebates[5]">
                                            <option ng-repeat="option in dataSource.rebateDropDown" ng-value="option">{{(option *100 ).toFixed(2)}}%</option>
                                        </select>
                                    </li>
                                    <li class="col-md-5 col-xs-6">
                                        <div class="col-xs-4">
                                            <label class="control-label">{{ 'CashRebate_CashRebatePayType' | translate }}:</label>
                                            <!--<input name="WPayType" class="form-control" type="text" ng-model="gameRoom.PayType">-->
                                            <select name="WPayType" class="form-control" ng-model="gameRoom.PayType"
                                                    ng-options="option.ID as option.ConfigName for option in dataSource.payTypeDropDown" required>
                                            </select>
                                        </div>
                                        <div class="col-xs-4">
                                            <label class="control-label">{{ 'CashRebateSetting_MinCR' | translate }}:</label>
                                            <input name="WMinLoss" class="form-control" type="text" ng-model="gameRoom.MinLoss" required>
                                        </div>
                                        <div class="col-xs-4">
                                            <label class="control-label">{{ 'CashRebateSetting_MaxCR' | translate }}:</label>
                                            <input name="WMaxLoss" class="form-control" type="text" ng-model="gameRoom.MaxLoss" required>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div ng-if="dataSource.pageStatus != 'searchView' && dataSource.cashRebate.SettingType==3">
                        <div class=" p-0">
                            <div class="list_style select_title">
                                <ul>
                                    <li class="col-md-1"><label><b>{{ 'CashRebateSetting_NewMember' | translate }}</b></label></li>
                                    <li class="col-md-1"><label><b>{{ 'CashRebateSetting_RegMember' | translate }}</b></label></li>
                                    <li class="col-md-1"><label><b>{{ 'CashRebateSetting_SilverMember' | translate }}</b></label></li>
                                    <li class="col-md-1"><label><b>{{ 'CashRebateSetting_GoldMember' | translate }}</b></label></li>
                                    <li class="col-md-1"><label><b>{{ 'CashRebateSetting_PlatinumMember' | translate }}</b></label></li>
                                    <li class="col-md-1"><label><b>{{ 'CashRebateSetting_VIPMember' | translate }}</b></label></li>
                                    <li></li>
                                </ul>
                            </div>
                        </div>
                        <div class="text-left p-0" ng-repeat="gameRoom in dataSource.gameRoomTypeListData">
                            <div class="col-md-12 p-0">
                                <label class="col-xs-12">{{gameRoom.GameName}}</label>
                            </div>
                            <div class="clearfix"></div>
                            <div ng-repeat="lotteryClass in gameRoom.lotteryClassListData">
                                <label class="col-sm-12">{{lotteryClass.LotteryClassName}}</label>
                                <div class="list_style">
                                    <ul class="list_item">
                                        <li class="col-md-1 col-xs-6" data-title="NEW MEMBER">
                                            <select class="form-control input-sm" name="live_casino_reg" ng-model="lotteryClass.rebates[0]">
                                                <option ng-repeat="option in dataSource.rebateDropDown" ng-value="option">{{(option *100 ).toFixed(2)}}%</option>
                                            </select>
                                        </li>
                                        <li class="col-md-1 col-xs-6" data-title="REG MEMBER">
                                            <select class="form-control input-sm" name="live_casino_reg" ng-model="lotteryClass.rebates[1]">
                                                <option ng-repeat="option in dataSource.rebateDropDown" ng-value="option">{{(option *100 ).toFixed(2)}}%</option>
                                            </select>
                                        </li>
                                        <li class="col-md-1 col-xs-6" data-title="OLD MEMBER">
                                            <select class="form-control input-sm" name="live_casino_reg" ng-model="lotteryClass.rebates[2]">
                                                <option ng-repeat="option in dataSource.rebateDropDown" ng-value="option">{{(option *100 ).toFixed(2)}}%</option>
                                            </select>
                                        </li>
                                        <li class="col-md-1 col-xs-6" data-title="SIVER MEMBER">
                                            <select class="form-control input-sm" name="live_casino_reg" ng-model="lotteryClass.rebates[3]">
                                                <option ng-repeat="option in dataSource.rebateDropDown" ng-value="option">{{(option *100 ).toFixed(2)}}%</option>
                                            </select>
                                        </li>
                                        <li class="col-md-1 col-xs-6" data-title="GOLD MEMBER">
                                            <select class="form-control input-sm" name="live_casino_reg" ng-model="lotteryClass.rebates[4]">
                                                <option ng-repeat="option in dataSource.rebateDropDown" ng-value="option">{{(option *100 ).toFixed(2)}}%</option>
                                            </select>
                                        </li>
                                        <li class="col-md-1 col-xs-6" data-title="PLATINUM MEMBER">
                                            <select class="form-control input-sm" name="live_casino_reg" ng-model="lotteryClass.rebates[5]">
                                                <option ng-repeat="option in dataSource.rebateDropDown" ng-value="option">{{(option *100 ).toFixed(2)}}%</option>
                                            </select>
                                        </li>
                                        <li class="col-md-5 col-xs-6">
                                            <div class="col-xs-4">
                                                <label class="control-label">{{ 'CashRebate_CashRebatePayType' | translate }}:</label>
                                                <!--<input name="MPayType" class="form-control" type="text" ng-model="lotteryClass.PayType">-->
                                                <select name="MPayType" class="form-control" ng-model="lotteryClass.PayType"
                                                        ng-options="option.ID as option.ConfigName for option in dataSource.payTypeDropDown" required></select>
                                            </div>
                                            <div class="col-xs-4">
                                                <label class="control-label">{{ 'CashRebateSetting_MinCR' | translate }}:</label>
                                                <input name="MMinLoss" class="form-control" type="text" ng-model="lotteryClass.MinLoss">
                                            </div>
                                            <div class="col-xs-4">
                                                <label class="control-label">{{ 'CashRebateSetting_MaxCR' | translate }}:</label>
                                                <input name="MMaxLoss" class="form-control" type="text" ng-model="lotteryClass.MaxLoss">
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-xs-12 p-0 mt-0">
                        <div class="col-xs-12 " ng-if="dataSource.pageStatus == 'editView'">
                            <input type="button" class="btn btn-primary" value="{{ 'SaveChanges' | translate }}" ng-click="update()">
                            <input type="button" class="btn btn-primary" value="{{ 'Cancel' | translate }}" ng-click="showSearch()">
                        </div>
                        <div class="col-xs-8" ng-if="dataSource.pageStatus == 'addView'">

                            <input type="button" class="btn btn-primary" value="{{ 'Add' | translate }}" ng-click="add()">
                            <input type="button" class="btn btn-primary" value="{{ 'Cancel' | translate }}" ng-click="showSearch()">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>