
<div>
    <!--GameRoom-->
    <div ng-if="dataSource.pageStatus == 'gameRoomView'">

        <!--<div class="col-md-2 col-md-offset-10 col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3 mb-20">
            <div class="row">
                <input type="button" class="btn btn-primary btn-block" value="{{ 'Add' | translate }}" ng-click="showGameRoomAdd()" />
            </div>
        </div>
        <br>-->
        <div class="css_table">
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>{{ 'GameSetting_GameName' | translate }}</th>
                            <th>{{ 'GameSetting_MinCommission' | translate }}</th>
                            <th>{{ 'GameSetting_MaxCommission' | translate }}</th>
                            <!--<th>{{ 'GameSetting_GameRoom_TableID' | translate }}</th>-->
                            <th>{{ 'GameSetting_Status' | translate }}</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="gameRoomType in dataSource.gameRoomTypeListData">
                            <td>{{gameRoomType.GameName}}</td>
                            <td>{{gameRoomType.MinCommission}}</td>
                            <td>{{gameRoomType.MaxCommission}}</td>
                            <!--<td>{{gameRoomType.GameRoom_TableID}}</td>-->
                            <td>
                                <input class="form-control" type="checkbox" ng-model="gameRoomType.Status"
                                       ng-change="changeAndSaveGameRoomType(gameRoomType)" />
                            </td>
                            <td>
                                <input type="button" class="btn btn-success" value="{{ 'Edit' | translate }}" ng-click="showGameRoomEdit(gameRoomType)">
                                <!--<input type="button" class="btn btn-danger" value="{{ 'Del' | translate }}" ng-click="deleteGameRoomType(gameRoomType)">-->
                                <input type="button" class="btn btn-info" value="{{ 'GameSetting_LotteryClass' | translate }}"
                                       ng-click="showLotteryClass(gameRoomType)">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div style="margin:0px auto;">
                <pagination options="dataSource.PagerObj" page-changed="PageChanged(dataSource.PagerObj.CurrentPage)">
                </pagination>
            </div>
        </div>

        <!--GameRoom新增編輯視窗-->
        <button id="ShowGameRoomDialog" class="btn btn-primary btn-block" data-toggle="modal" data-target="#GameRoomDialog"
                style="display:none"></button>
        <div class="modal fade" id="GameRoomDialog" tabindex="-1" role="dialog" aria-labelledby="GameRoomDialogTitle"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            {{dataSource.modalMsg.title | translate}}
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form name="gameRoomForm" class="form-horizontal" role="form">
                            <ul class="list_style">
                                <li class="col-md-6 col-sm-6">
                                    <label class="control-label">{{ 'GameSetting_GameName' | translate }}:</label>
                                    <input name="GameName" class="form-control" type="text" ng-model="dataSource.gameRoomTypeInfo.GameName"
                                           required />
                                </li>
                                <li class="col-md-6 col-sm-6">
                                    <label class=" control-label">{{ 'GameSetting_MinCommission' | translate }}:</label>
                                    <input name="MinCommission" class="form-control" type="text"
                                           ng-model="dataSource.gameRoomTypeInfo.MinCommission" my-validator="numeric" />
                                </li>
                                <li class="col-md-12">
                                    <label class="control-label">{{ 'GameSetting_MaxCommission' | translate }}:</label>
                                    <input name="MaxCommission" class="form-control" type="text"
                                           ng-model="dataSource.gameRoomTypeInfo.MaxCommission" required />
                                </li>
                                <li class="col-md-8 col-sm-8 col-xs-8">
                                    <label class="control-label">{{ 'GameSetting_GameRoom_TableID' | translate }}:</label>
                                    <input name="GameRoom_TableID" class="form-control" type="text"
                                           ng-model="dataSource.gameRoomTypeInfo.GameRoom_TableID" />
                                </li>
                                <li class="col-md-4 col-sm-4 col-xs-4">
                                    <label class="control-label">{{ 'GameSetting_Status' | translate }}:</label>
                                    <input name="Status" class="form-control" type="checkbox" ng-model="dataSource.gameRoomTypeInfo.Status"
                                           required />
                                </li>
                            </ul>
                        </form>
                    </div>
                    <div class="clearfix"></div>
                    <div class="modal-footer">
                        <!--<button type="button" class="btn rectangle-btn" data-dismiss="modal" ng-click="modalMsgConfirmEvent(false)">Cancel</button>-->
                        <button type="button" class="btn rectangle-btn" data-dismiss="modal"
                                ng-click="addOrEditGameRoomType(gameRoomForm)">
                            {{ 'Confirm' | translate }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--LotteryClass-->
    <div ng-if="dataSource.pageStatus == 'lotteryClassView'">
        <h3>
            <a href="javascript:void(0)"
               ng-click="dataSource.pageStatus='gameRoomView'">GameRoomType[{{dataSource.gameRoomTypeInfo.GameName}}]</a>
        </h3>
        <hr>

        <!--<div class="col-md-2 col-md-offset-10 col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3 mb-20">
            <div class="row">
                <input type="button" class="btn btn-primary btn-block" value="{{ 'Add' | translate }}" ng-click="showLotteryClassAdd()" />
            </div>
        </div>
        <br>-->
        <div class="css_table">
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>{{ 'GameSetting_LotteryClassName' | translate }}</th>
                            <th>{{ 'GameSetting_Notice' | translate }}</th>
                            <!--<th>{{ 'GameSetting_LotteryClass_TableID' | translate }}</th>-->
                            <th>{{ 'GameSetting_Status' | translate }}</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="lotteryClass in dataSource.lotteryClassListData">
                            <td>{{lotteryClass.LotteryClassName}}</td>
                            <td>{{lotteryClass.Notice}}</td>
                            <!--<td>{{lotteryClass.LotteryClass_TableID}}</td>-->
                            <td>
                                <input class="form-control" type="checkbox" ng-model="lotteryClass.Status"
                                       ng-change="changeAndSaveLotteryClass(lotteryClass)" />
                            </td>
                            <td>
                                <input type="button" class="btn btn-success" value="{{ 'Edit' | translate }}" ng-click="showLotteryClassEdit(lotteryClass)">
                                <!--<input type="button" class="btn btn-danger" value="{{ 'Del' | translate }}" ng-click="deleteLotteryClass(lotteryClass)">-->
                                <input type="button" class="btn btn-info" value="{{ 'GameSetting_LotteryType' | translate }}" ng-click="showLotteryType(lotteryClass)">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div style="margin:0px auto;">
                <pagination options="dataSource.PagerObj2" page-changed="PageChanged2(dataSource.PagerObj2.CurrentPage)">
                </pagination>
            </div>
        </div>

        <!--LotteryClass新增編輯視窗-->
        <button id="ShowLotteryClassDialog" class="btn btn-primary btn-block" data-toggle="modal"
                data-target="#LotteryClassDialog" style="display:none"></button>
        <div class="modal fade" id="LotteryClassDialog" tabindex="-1" role="dialog" aria-labelledby="LotteryClassDialogTitle"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            {{dataSource.modalMsg.title | translate}}
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form name="lotteryClassForm" class="form-horizontal" role="form">

                            <ul class="list_style">
                                <li class="col-md-6">
                                    <label class="control-label">{{ 'GameSetting_LotteryClassName' | translate }}:</label>
                                    <input name="LotteryClassName" class="form-control" type="text"
                                           ng-model="dataSource.lotteryClassInfo.LotteryClassName">
                                </li>
                                <li class="col-md-6">
                                    <label class="control-label">{{ 'GameSetting_Notice' | translate }}:</label>
                                    <input name="Notice" class="form-control" type="text" ng-model="dataSource.lotteryClassInfo.Notice">
                                </li>
                                <!--<li class="col-md-8">
                                    <label class="control-label">{{ 'GameSetting_LotteryClass_TableID' | translate }}:</label>

                                    <input name="LotteryClass_TableID" class="form-control" type="text"
                                           ng-model="dataSource.lotteryClassInfo.LotteryClass_TableID">

                                </li>-->
                                <li class="col-md-4">
                                    <label class=" control-label">{{ 'GameSetting_Status' | translate }}:</label>

                                    <input name="Status" class="form-control" type="checkbox"
                                           ng-model="dataSource.lotteryClassInfo.Status" />

                                </li>
                            </ul>
                        </form>
                    </div>
                    <!--<input type="button" class="btn btn-default" value="{{ 'BetLimitSetting_Add' | translate }}" ng-click="addBetLimit(lotteryClass)">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>{{ 'GameSetting_ID' | translate }}</th>
                                <th>{{ 'BetLimitSetting_ParentID' }}</th>
                                <th>{{ 'GameSetting_LimitMin' | translate }}</th>
                                <th>{{ 'GameSetting_LimitMax' | translate }}</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="lotteryClass in dataSource.lotteryClassInfo.vwLotteryTypeLimit">
                                <td>{{betLimit.ID}}</td>
                                <td>{{betLimit.ParentID}}</td>
                                <td>{{betLimit.LimitMin | currency}}</td>
                                <td>{{betLimit.LimitMax | currency}}</td>
                                <td>
                                    <input type="button" class="btn btn-danger" value="{{ 'Del' | translate }}" ng-click="deleteBetLimit(betLimit)">
                                </td>
                            </tr>
                        </tbody>
                    </table>-->
                    <div class="clearfix"></div>
                    <div class="modal-footer">
                        <!--<button type="button" class="btn rectangle-btn" data-dismiss="modal" ng-click="modalMsgConfirmEvent(false)">Cancel</button>-->
                        <button type="button" class="btn rectangle-btn" data-dismiss="modal"
                                ng-click="addOrEditLotteryClass(lotteryClassForm)">
                            {{ 'Confirm' | translate }}
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!--LotteryType-->
    <div ng-if="dataSource.pageStatus == 'lotteryTypeView'">
        <!--<h3>
            <a href="javascript:void(0)" ng-click="dataSource.pageStatus='gameRoomView'">
                GameRoomType[{{dataSource.gameRoomTypeInfo.GameName}}]
            </a> =>
            <a href="javascript:void(0)" ng-click="dataSource.pageStatus='lotteryClassView'">
                LotteryClass[{{dataSource.lotteryClassInfo.LotteryClassName}}]
            </a>
        </h3>-->
        <div>
            <ul class="nav nav-pills">
                <li ng-repeat="lotteryClass in dataSource.lotteryClassListData" ng-class="{'active':dataSource.lotteryClassInfo == lotteryClass}">
                    <a ng-click="showLotteryType(lotteryClass)">{{lotteryClass.LotteryClassName}}</a>
                </li>
            </ul>
        </div>
        <!--<div class="row">
            <div class="col-md-2 col-md-offset-10">
                <input type="button" class="btn btn-primary btn-block" value="{{ 'Add' | translate }}" ng-click="showLotteryTypeAdd()" />
            </div>
        </div>
        <br>-->
        <div class="panel panel-default" ng-if="dataSource.lotteryClassInfo.LotteryClassID > 0">
            <div class="panel-heading">
                <h3 class="panel-title">{{ 'LotteryClass' | translate }}</h3>
            </div>
            <div class="panel-body">
                <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
                    <label class="control-label">{{ 'GameSetting_LotteryClassName' | translate }}:</label>
                    {{dataSource.lotteryClassInfo.LotteryClassName}}
                </div>
                <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
                    <label class="control-label">{{ 'GameSetting_Notice' | translate }}:</label>
                    {{dataSource.lotteryClassInfo.Notice}}
                </div>
                <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
                    <label class="control-label">{{ 'GameSetting_IsMaintain' | translate }}:</label>
                    <input type="checkbox" ng-model="dataSource.lotteryClassInfo.IsMaintain" class="form-control" ng-change="changeAndSaveLotteryClass(dataSource.lotteryClassInfo)" />

                </div>
            </div>
        </div>

        <div class="css_table" ng-if="dataSource.lotteryClassInfo.GameRoomID == 1">
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>{{ 'GameSetting_LotteryTypeName' | translate }}</th>
                            <th>{{ 'GameSetting_LotteryTypeCode' | translate }}</th>
                            <th>{{ 'GameSetting_PeriodInterval' | translate }}</th>
                            <!--<th>{{ 'GameSetting_AIType' | translate }}</th>
    <th>{{ 'GameSetting_IsEnableAI' | translate }}</th>-->
                            <th>{{ 'GameSetting_Status' | translate }}</th>
                            <th>{{ 'GameSetting_IsMaintain' | translate }}</th>
                            <th>{{ 'GameSetting_GameClose' | translate }}</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="lotteryType in dataSource.lotteryTypeListData">
                            <td>{{lotteryType.LotteryTypeName}}</td>
                            <td>{{lotteryType.LotteryTypeCode}}</td>
                            <td>{{lotteryType.PeriodInterval}}</td>

                            <!--<td>{{lotteryType.AIType}}</td>
    <td>
        <input class="form-control" type="checkbox" ng-model="lotteryType.IsEnableAI"
               ng-change="checkPwd(changeAndSaveLotteryType, lotteryType)" />
    </td>-->
                            <td style="text-align:center">
                                <span ng-if="!lotteryType.MasterStatus">Disabled</span>
                                <input ng-if="lotteryType.MasterStatus" class="form-control" type="checkbox" ng-model="lotteryType.Status"
                                       ng-change="checkPwd(changeAndSaveLotteryType, lotteryType, $event)" />
                            </td>
                            <td style="text-align:center">
                                <span ng-if="lotteryType.MasterIsMaintain">Disabled</span>
                                <input ng-if="!lotteryType.MasterIsMaintain" class="form-control" type="checkbox" ng-model="lotteryType.IsMaintain"
                                       ng-change="checkPwd(changeAndSaveLotteryType, lotteryType, $event)" />
                            </td>
                            <td style="text-align:center">
                                <span ng-if="lotteryType.MasterIsCloseGame">Disabled</span>
                                <div ng-if="lotteryType.IsOfficial && !lotteryType.MasterIsCloseGame">
                                    <div class="col-md-6 col-sm-12 col-xs-12">
                                        <label class="radio-inline" for="open{{$index}}">
                                            <input id="open{{$index}}" type="radio" ng-model="lotteryType.IsCloseGame" ng-value="false" ng-change="checkPwd(changeAndSaveLotteryType, lotteryType)" />
                                            <div style="margin: 2px 0 0 4px;">{{ 'Open' | translate }}</div>
                                        </label>
                                    </div>
                                    <div class="col-md-6 col-sm-12 col-xs-12">
                                        <label class="radio-inline" for="open{{$index}}">
                                            <input id="open{{$index}}" type="radio" ng-model="lotteryType.IsCloseGame" ng-value="true" ng-change="checkPwd(changeAndSaveLotteryType, lotteryType)" />
                                            <div style="margin: 2px 0 0 4px;"></span>{{ 'Close' | translate }}</div>
                                        </label>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <input type="button" class="btn btn-success" value="{{ 'Edit' | translate }}" ng-click="showLotteryTypeEdit(lotteryType)">
                                <!--<input type="button" class="btn btn-danger" value="{{ 'Del' | translate }}" ng-click="deleteLotteryType(lotteryType)">-->
                                <input type="button" class="btn btn-info" value="{{ 'GameSetting_LotteryInfo' | translate }}" ng-click="showLotteryInfo(lotteryType)">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div style="margin:0px auto;">
                <pagination options="dataSource.PagerObj3" page-changed="PageChanged3(dataSource.PagerObj3.CurrentPage)">
                </pagination>
            </div>
        </div>

        <!--LotteryType新增編輯視窗-->
        <button id="ShowLotteryTypeDialog" class="btn btn-primary btn-block" data-toggle="modal"
                data-target="#LotteryTypeDialog" style="display:none"></button>
        <div class="modal fade" id="LotteryTypeDialog" tabindex="-1" role="dialog" aria-labelledby="LotteryTypeDialogTitle"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            {{dataSource.modalMsg.title | translate}}
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form name="lotteryTypeForm" class="form-horizontal" role="form">
                            <div class="list_style">
                                <ul>
                                    <li class="col-xs-6">
                                        <label class="control-label">{{ 'GameSetting_LotteryTypeName' | translate }}:</label>
                                        <input name="LotteryTypeName" class="form-control" type="text"
                                               ng-model="dataSource.lotteryTypeInfo.LotteryTypeName" required>
                                    </li>
                                    <li class="col-xs-6">
                                        <label class="control-label">{{ 'GameSetting_LotteryTypeCode' | translate }}:</label>
                                        <input name="LotteryTypeCode" class="form-control" type="text"
                                               ng-model="dataSource.lotteryTypeInfo.LotteryTypeCode" required>
                                    </li>
                                    <li class="col-sm-6 col-xs-12">
                                        <label class="control-label">{{ 'GameSetting_PeriodInterval' | translate }}:</label>
                                        <input name="PeriodInterval" class="form-control" type="text"
                                               ng-model="dataSource.lotteryTypeInfo.PeriodInterval" required>
                                    </li>
                                    <li class="col-sm-6 col-xs-12">
                                        <label class="control-label">{{ 'GameSetting_MaxBonusMoneyPool' | translate }}:</label>
                                        <input name="MaxBonusMoneyPool" class="form-control" type="text"
                                               ng-model="dataSource.lotteryTypeInfo.MaxBonusMoneyPool" required />
                                    </li>
                                    <li class="col-sm-6 col-xs-12">
                                        <label class="control-label">{{ 'GameSetting_DrawBonusPercentage' | translate }}:</label>
                                        <input name="DrawBonusPercentage" class="form-control" type="text"
                                               ng-model="dataSource.lotteryTypeInfo.DrawBonusPercentage" required />
                                    </li>
                                    <li class=" col-sm-6 col-xs-12">
                                        <label class="control-label">{{ 'GameSetting_CompanyWinPercentage' | translate }}:</label>
                                        <input name="CompanyWinPercentage" class="form-control" type="text"
                                               ng-model="dataSource.lotteryTypeInfo.CompanyWinPercentage" required />
                                    </li>
                                    <li class="col-sm-6 col-xs-12">
                                        <label class=" control-label">{{ 'GameSetting_UserWinPercentage' | translate }}:</label>
                                        <input name="UserWinPercentage" class="form-control" type="text"
                                               ng-model="dataSource.lotteryTypeInfo.UserWinPercentage" required />
                                    </li>
                                    <li class="col-sm-6 col-xs-12">
                                        <label class="control-label">{{ 'GameSetting_CompanyPresetCompensation' | translate }}:</label>
                                        <input name="CompanyPresetCompensation" class="form-control" type="text"
                                               ng-model="dataSource.lotteryTypeInfo.CompanyPresetCompensation" />
                                    </li>
                                    <li class="col-xs-6">
                                        <label class="control-label">{{ 'GameSetting_AIType' | translate }}:</label>
                                        <input name="AIType" class="form-control" type="text" ng-model="dataSource.lotteryTypeInfo.AIType" />
                                    </li>
                                    <li class="col-xs-3">
                                        <label class="control-label">{{ 'GameSetting_IsEnableAI' | translate }}:</label>
                                        <input name="IsEnableAI" class="form-control" type="checkbox"
                                               ng-model="dataSource.lotteryTypeInfo.IsEnableAI" />
                                    </li>
                                    <li class="col-xs-3">
                                        <label class="control-label">{{ 'GameSetting_Status' | translate }}:</label>
                                        <input name="Status" class="form-control" type="checkbox"
                                               ng-model="dataSource.lotteryTypeInfo.Status" />
                                    </li>
                                </ul>

                            </div>

                            <!--<div class="form-group">
                                <label class="col-lg-3 control-label">LotteryType_TableID:</label>
                                <div class="col-lg-8">
                                    <input name="LotteryType_TableID" class="form-control" type="text"
                                           ng-model="dataSource.lotteryTypeInfo.LotteryType_TableID" />
                                </div>
                            </div>-->

                        </form>
                    </div>
                    <!--<input type="button" class="btn btn-default" value="{{ 'BetLimitSetting_Add' | translate }}" ng-click="addBetLimit(dataSource.lotteryTypeInfo.vwLotteryTypeLimit)">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>{{ 'BetLimitSetting_ID' | translate }}</th>
                                <th>{{ 'BetLimitSetting_ParentID' | translate }}</th>
                                <th>{{ 'BetLimitSetting_LimitMin' | translate }} ~ {{ 'BetLimitSetting_LimitMax' | translate }}</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="betLimit in dataSource.lotteryTypeInfo.vwLotteryTypeLimit">
                                <td>{{betLimit.ID}}</td>
                                <td>
                                    <select ng-model="betLimit.ParentID" class="form-control">
                                        <option ng-repeat="parent in dataSource.lotteryClassInfo.vwLotteryClassLimit" ng-value="parent.LotteryBetLimitMapID">
                                            {{parent.LimitMin | currency}} ~ {{parent.LimitMax | currency}}
                                        </option>
                                    </select>
                                </td>
                                <td>
                                    <select ng-model="betLimit.LimitID" class="form-control">
                                        <option ng-repeat="selLimit in dataSource.betLimitList" ng-value="selLimit.ID">
                                            {{selLimit.ID}} - {{selLimit.LimitMin | currency}} ~ {{selLimit.LimitMax | currency}}
                                        </option>
                                    </select>
                                </td>
                                <td>
                                    <input type="button" class="btn btn-danger" value="{{ 'Del' | translate }}" ng-click="deleteBetLimit(dataSource.lotteryTypeInfo.vwLotteryTypeLimit,betLimit)">
                                </td>
                            </tr>
                        </tbody>
                    </table>-->
                    <div class="modal-footer">
                        <!--<button type="button" class="btn rectangle-btn" data-dismiss="modal" ng-click="modalMsgConfirmEvent(false)">Cancel</button>-->
                        <button type="button" class="btn rectangle-btn" data-dismiss="modal"
                                ng-click="checkPwd(addOrEditLotteryType(lotteryTypeForm))">
                            {{ 'Confirm' | translate }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--LotteryInfo-->
    <div ng-if="dataSource.pageStatus == 'lotteryInfoView'">
        <h5>
            <a href="javascript:void(0)" ng-click="dataSource.pageStatus='gameRoomView'">
                GameRoomType[{{dataSource.gameRoomTypeInfo.GameName}}]
            </a><i class="fa fa-arrow-right" aria-hidden="true"></i>
            <a href="javascript:void(0)" ng-click="dataSource.pageStatus='lotteryClassView'">
                LotteryClass[{{dataSource.lotteryClassInfo.LotteryClassName}}]
            </a><i class="fa fa-arrow-right" aria-hidden="true"></i>
            <a href="javascript:void(0)" ng-click="dataSource.pageStatus='lotteryTypeView'">
                LotteryType[{{dataSource.lotteryTypeInfo.LotteryTypeName}}]
            </a>
        </h5>
        <hr>
        <!--<div class="row">
            <div class="col-md-2 col-md-offset-10">
                <input type="button" class="btn btn-primary btn-block" value="{{ 'Add' | translate }}" ng-click="showLotteryInfoAdd()" />
            </div>
        </div>
        <br>-->
        <div class="css_table">
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>{{ 'GameSetting_GameID' | translate }}</th>
                            <th>{{ 'GameSetting_FamilyBigID' | translate }}</th>
                            <th>{{ 'GameSetting_LotteryInfoName' | translate }}</th>
                            <th>{{ 'GameSetting_Discount' | translate }}</th>
                            <th>{{ 'GameSetting_PrizeOdd' | translate }}</th>
                            <th>{{ 'GameSetting_Status' | translate }}</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="lotteryInfo in dataSource.lotteryInfoListData">
                            <td>{{lotteryInfo.LotteryInfoID}}</td>
                            <td>{{lotteryInfo.FamliyBigID}}</td>
                            <td>{{'FamliyID' + lotteryInfo.LotteryTypeID + lotteryInfo.FamliyMiddelID + lotteryInfo.FamliySmallID | translate}}</td>
                            <td>{{(lotteryInfo.DisCount*100).toFixed(2)}}%</td>
                            <td>{{lotteryInfo.ShowOdds}}</td>
                            <td>
                                <input class="form-control" type="checkbox" ng-model="lotteryInfo.Status"
                                       ng-change="changeAndSaveLotteryInfo(lotteryInfo)" />
                            </td>
                            <td>
                                <input type="button" class="btn btn-success" value="{{ 'Edit' | translate }}" ng-click="showLotteryInfoEdit(lotteryInfo)">
                                <!--<input type="button" class="btn btn-danger" value="{{ 'Del' | translate }}" ng-click="deleteLotteryInfo(lotteryInfo)">-->
                                <!--<input type="button" class="btn btn-info" value="LotteryContent" ng-click="showLotteryContent(lotteryInfo)">-->
                            </td>
                        </tr>
                    </tbody>
                </table>
                </
                <
            </div>
            <div style="margin:0px auto;">
                <pagination options="dataSource.PagerObj4" page-changed="PageChanged4(dataSource.PagerObj4.CurrentPage)">
                </pagination>
            </div>
        </div>

        <!--LotteryInfo新增編輯視窗-->
        <button id="ShowLotteryInfoDialog" class="btn btn-primary btn-block" data-toggle="modal"
                data-target="#LotteryInfoDialog" style="display:none"></button>
        <div class="modal fade" id="LotteryInfoDialog" tabindex="-1" role="dialog" aria-labelledby="LotteryInfoDialogTitle"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            {{dataSource.modalMsg.title | translate}}
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form name="lotteryInfoForm" class="form-horizontal" role="form">
                            <div class="list_style">
                                <ul>
                                    <li class="col-xs-6">
                                        <label class="control-label">{{ 'GameSetting_LotteryInfoName' | translate }}:</label>
                                        <input name="LotteryInfoName" class="form-control" type="text"
                                               ng-model="dataSource.lotteryInfo.LotteryInfoName" required>
                                    </li>
                                    <li class="col-xs-6">
                                        <label class="control-label col-xs-12 p-0">{{ 'GameSetting_Discount' | translate }}:</label>
                                        <input name="DisCount" style="width:80%;" class="form-control float-left" type="text" maxlength="2" allow-numbers-only
                                               ng-model="dataSource.lotteryInfo.DisCount">%
                                    </li>
                                    <li class="col-xs-12 p-0">
                                        <label class="col-xs-12 control-label">{{ 'GameSetting_Odds' | translate }}:</label>
                                        <div class="col-xs-6" ng-repeat="selectInfo in dataSource.lotteryInfo.SelectArrayModel">
                                            <label>{{selectInfo.text}}</label>
                                            <input name="Odds" class="form-control" type="text" ng-model="selectInfo.odds">
                                        </div>

                                    </li>
                                    <li class="col-xs-12">
                                        <label class="control-label">{{ 'GameSetting_Status' | translate }}:</label>
                                        <input name="Status" class="form-control" type="checkbox" ng-model="dataSource.lotteryInfo.Status" />
                                    </li>
                                </ul>
                            </div>


                            <!--<div class="form-group">
                                <label class="col-lg-3 control-label">{{ 'GameSetting_LotteryInfoNotice' | translate }}:</label>
                                <div class="col-lg-8">
                                    <textarea name="LotteryInfoNotice" class="form-control"
                                              ng-model="dataSource.lotteryInfo.LotteryInfoNotice"></textarea>
                                </div>
                            </div>-->
                            <!--<div class="form-group">
                                <label class="col-lg-3 control-label">{{ 'GameSetting_LotteryInfo_TableID' | translate }}:</label>
                                <div class="col-lg-8">
                                    <input name="LotteryInfo_TableID" class="form-control" type="text"
                                           ng-model="dataSource.lotteryInfo.LotteryInfo_TableID">
                                </div>
                            </div>-->
                            <!--<div class="form-group">
                                <label class="col-lg-3 control-label">{{ 'GameSetting_MinBet' | translate }}:</label>
                                <div class="col-lg-8">
                                    <input name="MinBet" class="form-control" type="text" allow-numbers-only
                                           ng-model="dataSource.lotteryInfo.MinBet">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">{{ 'GameSetting_MaxBet' | translate }}:</label>
                                <div class="col-lg-8">
                                    <input name="MaxBet" class="form-control" type="text" allow-numbers-only
                                           ng-model="dataSource.lotteryInfo.MaxBet">
                                </div>
                            </div>-->

                        </form>
                    </div>
                    <!--<input type="button" class="btn btn-default" value="{{ 'BetLimitSetting_Add' | translate }}" ng-click="addBetLimit(dataSource.lotteryInfo.vwLotteryInfoLimit)">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>{{ 'BetLimitSetting_ID' | translate }}</th>
                                <th>{{ 'BetLimitSetting_ParentID' | translate }}</th>
                                <th>{{ 'BetLimitSetting_LimitMin' | translate }} ~ {{ 'BetLimitSetting_LimitMax' | translate }}</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="betLimit in dataSource.lotteryInfo.vwLotteryInfoLimit">
                                <td>{{betLimit.LotteryBetLimitMapID}}</td>
                                <td>
                                    <select ng-model="betLimit.ParentID" class="form-control">
                                        <option ng-repeat="parent in dataSource.lotteryTypeInfo.vwLotteryTypeLimit" ng-value="parent.LotteryBetLimitMapID">
                                            {{parent.LimitMin | currency}} ~ {{parent.LimitMax | currency}}
                                        </option>
                                    </select>
                                </td>
                                <td>
                                    <select ng-model="betLimit.LimitID" class="form-control">
                                        <option ng-repeat="selLimit in dataSource.betLimitList" ng-value="selLimit.ID">
                                            {{selLimit.ID}} - {{selLimit.LimitMin | currency}} ~ {{selLimit.LimitMax | currency}}
                                        </option>
                                    </select>
                                </td>
                                <td>
                                    <input type="button" class="btn btn-danger" value="{{ 'Del' | translate }}" ng-click="deleteBetLimit(dataSource.lotteryInfo.vwLotteryInfoLimit,betLimit)">
                                </td>
                            </tr>
                        </tbody>
                    </table>-->
                    <div class="modal-footer">
                        <!--<button type="button" class="btn rectangle-btn" data-dismiss="modal" ng-click="modalMsgConfirmEvent(false)">Cancel</button>-->
                        <button type="button" class="btn rectangle-btn" data-dismiss="modal"
                                ng-click="addOrEditLotteryInfo(lotteryInfoForm)">
                            {{ 'Confirm' | translate }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--密碼驗證彈窗-->
<button id="ShowPasswordDialog" class="btn btn-primary btn-block" data-toggle="modal"
        data-target="#PasswordDialog" style="display:none"></button>
<div class="modal fade" id="PasswordDialog" tabindex="-1" role="dialog" aria-labelledby="PasswordDialogTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    {{dataSource.modalMsg.title | translate}}
                </h5>
                <button ng-click="closePwd()" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form name="EditPasswordForm" class="form-horizontal" role="form">
                    <div class="col-xs-12">
                        <label class="control-label">{{ 'Password' | translate }}:</label>

                        <input name="EditPassword" class="form-control" type="password" ng-model="dataSource.EditPassword.Pwd" required />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn rectangle-btn" data-dismiss="modal"
                        ng-click="updateEditPassword(EditPasswordForm)">
                    {{ 'Confirm' | translate }}
                </button>
            </div>
        </div>
    </div>
</div>