<div class="charts_area">
  <div class="charts_list">
      <ul>
          <li class="col-md-6 col-xs-12">
              <div class="charts_box">
                  <div id="registerChart" class="charts_item"></div>
              </div>

          </li>
          <li class="col-md-6 col-xs-12">
              <div class="charts_box">
                  <div id="promotionChart" class="charts_item"></div>
              </div>
          </li>
          <li class="col-xs-12">
              <div class="charts_box">
                  <div id="cashRebateChart" class="charts_item"></div>
              </div>
          </li>
          <li class="col-xs-12">
              <div class="charts_box">
                  <div id="allGameWinLoseChart" class="charts_item"></div>
              </div>
          </li>
          <li class="col-xs-12">
              <div class="charts_box">
                  <div id="oneGameWinLoseChart" class="charts_item"></div>
              </div>
          </li>
      </ul>
  </div>
</div>