<div ng-if="dataSource.pageStatus == 'searchView'">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{ 'SearchCondition' | translate }}</h3>
        </div>
        <div class="panel-body">
            <div class="col-lg-9 col-sm-12 col-xs-12 p-0 mb-10">
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <label class=" control-label" for="Customer:">{{ 'DateS' | translate }}:</label>
                    <input type="date" placeholder="" class="form-control input-md" ng-model="dataSource.searchCondition.DateS">
                </div>
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <label class=" control-label" for="Customer:">{{ 'DateE' | translate }}:</label>
                    <input type="date" placeholder="" class="form-control input-md" ng-model="dataSource.searchCondition.DateE">
                </div>
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <label class="control-label" for="Customer:">{{ 'CompanySetting_CompanyName' | translate }}:</label>
                    <input type="text" placeholder="" class="form-control input-md" ng-model="dataSource.searchCondition.CompanyName">
                </div>
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <label class="control-label" for="Customer:">{{ 'CompanySetting_CompanyCode' | translate }}:</label>
                    <input type="text" placeholder="" class="form-control input-md" ng-model="dataSource.searchCondition.CompanyCode">
                </div>
            </div>
            <div class="col-lg-3 col-sm-12 col-xs-12">
                <div class="btn_area">
                    <ul >
                        <li><input type="button" class="btn btn-primary btn-block" value="{{ 'Add' | translate }}" ng-click="showAdd()" /></li>
                        <li><input type="button" class="btn btn-default btn-block" value="{{ 'Clear' | translate }}" ng-click="clear()" /></li>
                        <li><input type="button" class="btn btn-primary btn-block" value="{{ 'Search' | translate }}" ng-click="search()" /></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <br>

    <div class="css_table">
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>{{ 'CompanySetting_CompanyID' | translate }}</th>
                        <th>{{ 'CompanySetting_CompanyName' | translate }}</th>
                        <th>{{ 'CompanySetting_CompanyCode' | translate }}</th>
                        <th>{{ 'CompanySetting_CashRebate' | translate }}</th>
                        <th>{{ 'CompanySetting_CashBackRebate' | translate }}</th>
                        <th>{{ 'CompanySetting_Sort' | translate }}</th>
                        <th>{{ 'CompanySetting_UpdateBy' | translate }}</th>
                        <th>{{ 'CompanySetting_UpdateDate' | translate }}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="config in dataSource.listData">
                        <td>{{config.CompanyID}}</td>
                        <td>{{config.CompanyName}}</td>
                        <td>{{config.CompanyCode}}</td>
                        <td>{{config.CashRebate}}</td>
                        <td>{{config.CashBackRebate}}</td>
                        <td>{{config.Sort}}</td>
                        <td>{{config.UpdateBy}}</td>
                        <td>{{config.UpdateDate | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                        <td>
                            <input type="button" class="btn btn-success" value="{{ 'Edit' | translate }}" ng-click="showEdit(config)">
                            <!--<input type="button" class="btn btn-danger" value="{{ 'Del' | translate }}" ng-click="delete(config)">-->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div style="margin:0px auto;">
            <pagination options="dataSource.PagerObj" page-changed="PageChanged(dataSource.PagerObj.CurrentPage)"></pagination>
        </div>
    </div>
</div>

<div class="row" ng-if="dataSource.pageStatus == 'addView' || dataSource.pageStatus == 'editView'">
    <!-- left column -->
    <!-- <div class="col-md-3">
        <div class="text-center">
            <img src="//placehold.it/100" class="avatar img-circle" alt="avatar">
            <h6>Upload a different photo...</h6>

            <input type="file" class="form-control">
        </div>
    </div> -->
    <!-- edit form column -->
    <div class="col-md-10 col-md-offset-1 personal-info">
        <!-- <div class="alert alert-info alert-dismissable">
            <a class="panel-close close" data-dismiss="alert">×</a>
            <i class="fa fa-coffee"></i>
            This is an <strong>.alert</strong>. Use this to show important messages to the user.
        </div> -->
        <h3>{{ 'CompanySetting_Company' | translate }}</h3>
        <hr>
        <form name="form" class="form-horizontal" role="form">
            <div class="list_area">
                <div class="list_style">
                    <ul>
                        <li class="col-xs-6">
                            <label class="">{{ 'CompanySetting_CompanyName' | translate }}:</label>
                            <input name="CompanyName" class="form-control" type="text" ng-model="dataSource.PostData.CompanyName" required>

                        </li>
                        <li class="col-xs-6">
                            <label>{{ 'CompanySetting_CompanyCode' | translate }}:</label>
                            <input name="CompanyCode" class="form-control" type="text" ng-model="dataSource.PostData.CompanyCode" required>
                        </li>
                        <li class="col-xs-6">
                            <label class="">{{ 'CompanySetting_CashRebate' | translate }}:</label>
                            <input name="CashRebate" class="form-control" type="text" ng-model="dataSource.PostData.CashRebate" required>
                        </li>
                        <li class="col-xs-6">
                            <label class="">{{ 'CompanySetting_CashBackRebate' | translate }}:</label>
                            <input name="CashBackRebate" class="form-control" type="text" ng-model="dataSource.PostData.CashBackRebate" required>
                        </li>
                        <li class="col-xs-6">
                            <label class="">{{ 'CompanySetting_Sort' | translate }}:</label>
                            <input name="Sort" class="form-control" type="number" ng-model="dataSource.PostData.Sort" required>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"></div>
                <div class="col-xs-12">
                    <div class="btn_area" ng-if="dataSource.pageStatus == 'editView'">
                        <ul>
                            <li><input type="button" class="btn btn-primary" value="{{ 'SaveChanges' | translate }}" ng-click="update(form)"></li>
                            <li><input type="button" class="btn btn-primary" value="{{ 'Cancel' | translate }}" ng-click="showSearch()"></li>
                        </ul>
                    </div>
                    <div class="btn_area" ng-if="dataSource.pageStatus == 'addView'">
                        <ul>
                            <li><input type="button" class="btn btn-primary" value="{{ 'Add' | translate }}" ng-click="add(form)"></li>
                            <li><input type="button" class="btn btn-primary" value="{{ 'Cancel' | translate }}" ng-click="showSearch()"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>