<div>
  <div ng-if="dataSource.pageStatus == 'searchView'">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{ 'SearchCondition' | translate }}</h3>
      </div>
      <div class="panel-body">
        <div class="col-md-3 col-sm-12 col-xs-12">
          <label class="control-label">{{ 'SEOSetting_Title' | translate }}:</label>
          <input type="text" placeholder="" class="form-control input-md"
            ng-model="dataSource.searchCondition.PageTitle">
        </div>
        <div class="col-md-8 col-sm-12 col-xs-12 ">
          <div class="btn_area">
            <ul class="text-left">
              <li><input type="button" class="btn btn-primary btn-block" value="{{ 'Add' | translate }}" ng-click="showAdd()" /></li>
              <li><input type="button" class="btn btn-default btn-block" value="{{ 'Clear' | translate }}" ng-click="clear()" /></li>
              <li><input type="button" class="btn btn-primary btn-block" value="{{ 'Search' | translate }}" ng-click="search()" /> </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="css_table">
      <div class="table-responsive">
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>{{ 'SEOSetting_PageTitle' | translate }}</th>
              <th>{{ 'SEOSetting_PageURL' | translate }}</th>
              <th>{{ 'SEOSetting_MetaTitle' | translate }}</th>
              <th>{{ 'SEOSetting_MetaKeyword' | translate }}</th>
              <th>{{ 'SEOSetting_MetaDescription' | translate }}</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="seo in dataSource.listData">
              <td>{{seo.PageTitle}}</td>
              <td>{{seo.PageURL}}</td>
              <td>{{seo.MetaTitle}}</td>
              <td>{{seo.MetaKeyword}}</td>
              <td>{{seo.MetaDescription}}</td>
              <td>
                <input type="button" class="btn btn-success" value="{{ 'Edit' | translate }}" ng-click="showEdit(seo)">
                <input type="button" class="btn btn-danger" value="{{ 'Del' | translate }}" ng-click="delete(seo)">
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div style="margin:0px auto;">
        <pagination options="dataSource.PagerObj" page-changed="PageChanged(dataSource.PagerObj.CurrentPage)">
        </pagination>
      </div>
    </div>
  </div>
  <div class="" ng-if="dataSource.pageStatus == 'addView' || dataSource.pageStatus == 'editView'">
    <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12 personal-info">
      <div class="row">
        <h3>{{ 'SEOSetting' | translate }}</h3>
        <hr>
        <form name="form" class="form-horizontal" role="form">
          <div class="list_area">
            <div class="list_style">
              <ul>
                <li class="col-xs-6">
                  <label>{{ 'SEOSetting_PageTitle' | translate }}:</label>
                  <input name="PageTitle" class="form-control" type="text" ng-model="dataSource.seo.PageTitle" required>
                </li>
                <li class="col-xs-6">
                  <label>{{ 'SEOSetting_PageURL' | translate }}:</label>
                  <input name="PageURL" class="form-control" type="text" ng-model="dataSource.seo.PageURL" my-validator="URL">
                </li>
                <li class="col-xs-6">
                  <label>{{ 'SEOSetting_MetaTitle' | translate }}:</label>
                  <input name="MetaTitle" class="form-control" type="text" ng-model="dataSource.seo.MetaTitle" required>
                </li>
                <li class="col-xs-6">
                  <label>{{ 'SEOSetting_MetaKeyword' | translate }}:</label>
                  <input name="MetaKeyword" class="form-control" type="text" ng-model="dataSource.seo.MetaKeyword">
                </li>
                <li class="col-xs-6">
                  <label>{{ 'SEOSetting_MetaDescription' | translate }}:</label>
                  <input name="MetaDescription" class="form-control" type="text"
                    ng-model="dataSource.seo.MetaDescription">
                </li>
              </ul>
              <div class="col-md-12 col-sm-12 col-xs-12" ng-if="dataSource.pageStatus == 'editView'">
                <input type="button" class="btn btn-primary" value="{{ 'SaveChanges' | translate }}" ng-click="update(form)">
                <input type="button" class="btn btn-primary" value="{{ 'Cancel' | translate }}" ng-click="showSearch()">
              </div>
              <div class="col-md-12 col-sm-12 col-xs-12" ng-if="dataSource.pageStatus == 'addView'">
                <input type="button" class="btn btn-primary" value="{{ 'Add' | translate }}" ng-click="add(form)">
                <input type="button" class="btn btn-primary" value="{{ 'Cancel' | translate }}" ng-click="showSearch()">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>